name: Lint and Deploy to Pages

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write

jobs:
  html_lint:
    runs-on: [self-hosted, windows, x64]
    defaults:
      run:
        shell: powershell
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Run HTMLHint
        run: npx -y htmlhint "index.html"


jobs:  
  deploy:    
    if: ${{ github.event.workflow_run.conclusion == ' success' }}