name: Test Runner

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-runner:
    runs-on:
      - self-hosted
      - Windows
      - x64
    steps:
      - uses: actions/checkout@v2
      - name: Validate index.html
        run: |
          npx htmlhint "index.html"